* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(105, 125, 180, 0.679);

    .form-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: white;
        width: 400px;
        border-radius: 10px;
        padding: 30px;

        h2 {
            text-align: center;
            margin-bottom: 12px;
        }

        form {
            .item {
                margin: 5px 0px;
            }

            .item {
                display: flex;
                flex-direction: column;

                input {
                    border: none;
                    outline: none;
                    border-bottom: 1px solid black;
                    margin: 5px 0px;
                }
            }
        }

        .submit-btn {
            display: flex;
            justify-content: center;

            button {
                padding: 15px 50px;
                border: none;
                border-radius: 10px;
                background-color: rgba(24, 24, 193, 0.689);
                font-size: 17px;
                margin-top: 15px;
            }
        }
    }
}